<ion-header [translucent]="true">
  <ion-toolbar>
  <ion-button (click)=" paginaHome()" color="light">
      <ion-icon name="arrow-back-outline" ></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <img src="../../assets/img/imagem1.jpg"/>

  <p style="text-align: center;">Quem Somos: Na Upgrade Tecnologia, nossa missão é transformar o 
    futuro através da inovação tecnológica. Fundada em 2010, nossa empresa 
    nasceu com o objetivo de trazer soluções tecnológicas de ponta para 
    empresas de todos os portes, promovendo eficiência, segurança e crescimento 
    sustentáve.
  </p>

 
</ion-content>
